<div>
  <small title="{{id}}">{{contract}}</small>
  {{stamp}}
</div>

<div class="row">
  <div class="col-xs-8">
  </div>
  <div class="col-xs-4">
    <small class="pull-right" title="{{id}}">{{contract}}</small>
  </div>
</div>

<div class="row">
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr>
          <td>
            <small>Title</small>
          </td>
          <td>{{title}}</td>
        </tr>
        <tr>
          <td>
            <small>Committee</small>
          </td>
          <td>{{committee}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>