<div class="row">
  <section class="content">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">

          {{!-- Filters --}}
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-filter" data-target="done">Done</button>
              <button type="button" class="btn btn-warning btn-filter" data-target="pending">Pending</button>
              <button type="button" class="btn btn-danger btn-filter" data-target="canceled">Canceled</button>
              <button type="button" class="btn btn-default btn-filter" data-target="all">All</button>
            </div>
          </div>

          {{!-- Tasks --}}
          <div class="table-container">
            <table class="table table-filter">
              <tbody>
                
                {{#each tasks}}
                <tr data-status="{{status}}">
                  <td>
                    <div class="ckbox">
                      <input type="checkbox" id="checkbox{{id}}">
                      <label for="checkbox{{id}}"></label>
                    </div>
                  </td>
                  <td>
                    <a href="javascript:;" class="star">
                      <i class="glyphicon glyphicon-star"></i>
                    </a>
                  </td>
                  <td>
                    <div class="media">
                      <a href="#" class="pull-left">
                        <img src="{{image}}" class="media-photo">
                      </a>
                      <div class="media-body">
                        <span class="media-meta pull-right">{{date stamp}}</span>
                        <h4 class="title">
                          {{title}}
                          <span class="pull-right done">({{status}})</span>
                        </h4>
                        <p class="summary">{{summary}}</p>
                      </div>
                    </div>
                  </td>
                </tr>
                 {{/each}}

              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </section>

</div>