{{#if this}}
<div class="details card">
  <ul>
    <li>
      <label>Name</label>
      <a href="{{link}}" target="_blank">
        {{name}}
      </a>
    </li>
    <li>
      <label>Date</label>
      <span>{{local_date}} {{local_time}}</span>
    </li>
    <li>
      <label>Confirmed</label>
      <span>{{yes_rsvp_count}}</span>
    </li>
    <li>
      <label>Waiting</label>
      <span>{{waitlist_count}}</span>
    </li>
    <li>
      <label>Venue</label>
      <div>{{name}}</div>
      <div>{{address_1}}</div>
      <div>{{city}}</div>
      <div>
        <small>{{country}}</small>
        {{localized_country_name}}
      </div>
    </li>
    <li>
      <label>Description</label>
      <div>{{{description}}}</div>
    </li>
  </ul>
</div>
{{/if}}