{{#if this}}
<div class="record template">
  <ul>
    <li>
      <label>Id</label>
       {{id}}
    </li>
    <li>
      <label>Name</label>
      <a href="{{link}}" target="_blank">
        {{name}}
      </a>
    </li>
    <li>
      <label>Duration</label>
       {{duration}}
    </li>
    {{!-- <li>
      <label>Date</label>
      <span>{{local_date}} {{local_time}}</span>
    </li> --}}
    <li>
      <label>Venue</label>
      <div>{{name}}</div>
      <div>{{address}}</div>
      <div>{{city}}</div>
      <small>{{country}}</small>
    </li>
  </ul>
</div>
{{/if}}