<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">

    <section class="main-timeline-section">
      <div class="timeline-start"></div>
      <div class="conference-center-line"></div>
      <div class="conference-timeline-content">

        {{#each this}}
        <div class="hedding-title">{{label}}</div>

        {{#each items}}
        <div class="timeline-article content-{{position}}-container">
          <!-- ... -->
          <div class="content-date">
            <span>{{day stamp}}</span>
          </div>
          
          <div class="meta-date"></div>
          <div class="content-box">
            <div class="image-part">
              <img src="/src/app/demo/timeline/img/man01.png">
            </div>
            <div class="title-description">
              <h1>{{name}}</h1>
              <br>
              <p>
                {{description}}
              </p>
            </div>
          </div>
        </div>
        {{/each}} {{/each}}

      </div>
      <div class="timeline-end"></div>
    </section>

  </div>
</div>

<!-- Inspect -->
<div class="row" style="padding-top: 50px">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <pre>
      {{json this}}
    </pre>
  </div>
</div>