<div class="cor_card">

    <a href="details_01_1.html">
        <div class="cor_card-heading turquoise">
            <h3>
                <i class="fa fa-gavel"></i> {{folder}}
            </h3>
        </div>
        <div class="ribbon_l-grey">
            <h5>
                Responsible:
                <strong>{{responsible}}</strong>
            </h5>
        </div>
        <div class="cor_card-body">
            <p>{{title}}</p>
        </div>
        <div class="ribbon_l-grey">
            <h5>
                Rapporteur:
                <strong>{{rapporteur}}</strong> ({{group}})
            </h5>
        </div>
        <div class="cor_card-footer">
            <table class="table">
                <tr>
                    <td class="cor_card-date">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{adoption}}
                    </td>
                    <td class="cor_card-status text-right">
                        {{status}}
                        <span class="glyphicon glyphicon-flag" aria-hidden="true">
                                </span></td>
                </tr>
            </table>
        </div>
    </a>

</div>