<div class="container-fluid">
  <div class="dark-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <nav class="nav nav-pills nav-justified text-center">
            <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
                  aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav nav-pills nav-justified">

                  {{!-- Themes --}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <table align="center">
                        <tr>
                          <td>
                            <span class="badge">
                                <i class="fa fa-tags"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                      Themes
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                      {{#each themes}}
                      <li>
                        <a href={{url}}>
                          {{name}} 
                          <span class="badge">{{counter}}</span>
                        </a>
                      </li>
                      {{/each}}

                      <li role="separator" class="divider"></li>
                      <li>
                        <a href="themes.html">
                          View all Themes
                        </a>
                      </li>
                    </ul>
                  </li>

                  {{!-- Commissions --}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <table align="center">
                        <tr>
                          <td>
                            <span class="badge">
                                <i class="fa fa-institution"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                      Commissions
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                      {{#each commissions}}
                      <li>
                        <a href={{url}}>
                          {{name}} 
                          <span class="badge">{{counter}}</span>
                        </a>
                      </li>
                      {{/each}}

                      <li role="separator" class="divider"></li>
                      <li><a href="commissions.html">View all Commissions</a></li>
                    </ul>
                  </li>

                  {{!-- Timeline --}}
                  <li class="dropdown">
                    <a href="timeline.html">
                      <table align="center">
                        <tr>
                          <td>
                            <span class="badge">
                                <i class="fa fa-clock-o"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                      Timeline
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
</div>