<script id="menu-partial" type="text/x-handlebars-template">

<div class="container-fluid">
  <div class="dark-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <nav class="nav nav-pills nav-justified text-center">
            <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav nav-pills nav-justified">

                  {{!-- Themes --}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <table align="center">
                        <tr>
                          <td>
                            <span class="badge">
                                <i class="fa fa-tags"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                      Themes 
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                      {{!-- After --}}
                      {{#each themes}}
                        <li><a href={{url}}>{{name}} <span class="badge">{{counter}}</span></a></li>
                      {{/each}}

                      {{!-- Before --}}
                      {{!--<li><a href="theme_01.html">Agriculture & maritime and consumer policies <span class="badge">8</span></a></li>
                      <li><a href="theme_02.html">Cohesion policy <span class="badge">7</span></a></li>
                      <li><a href="theme_03.html">Constitutional & institutional affairs <span class="badge">2</span></a></li>
                      <li><a href="theme_04.html">Economics & Finance <span class="badge">4</span></a></li>
                      <li><a href="theme_05.html">Education and Culture <span class="badge">4</span></a></li>
                      <li><a href="theme_06.html">Energy <span class="badge">6</span></a></li>
                      <li><a href="theme_07.html">Enterprises & Industries <span class="badge">11</span></a></li>
                      <li><a href="theme_08.html">Environment <span class="badge">7</span></a></li>
                      <li><a href="theme_09.html">External Relations, enlargement and neighbourhood policy <span class="badge">6</span></a></li>
                      <li><a href="theme_10.html">Justice & Home Affairs <span class="badge">3</span></a></li>
                      <li><a href="theme_11.html">Employment and Social policies <span class="badge">7</span></a></li>
                      <li><a href="theme_12.html">Transport <span class="badge">1</span></a></li>--}}

                      <li role="separator" class="divider"></li>
                      <li><a href="themes.html">View all Themes</a></li>
                    </ul>
                  </li>

                  {{!-- Commissions --}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <table align="center">
                        <tr>
                          <td>
                            <span class="badge">
                                <i class="fa fa-institution"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                      Commissions 
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                      {{!-- After --}}
                      {{#each commissions}}
                        <li><a href={{url}}>{{name}} <span class="badge">{{counter}}</span></a></li>
                      {{/each}}

                      {{!-- Before --}}
                      {{!--<li><a href="comm_01.html">CIVEX <span class="badge">7</span></a></li>
                      <li><a href="comm_02.html">COTER <span class="badge">3</span></a></li>
                      <li><a href="comm_03.html">ECON <span class="badge">5</span></a></li>
                      <li><a href="comm_04.html">ENVE <span class="badge">2</span></a></li>
                      <li><a href="comm_05.html">NAT <span class="badge">6</span></a></li>
                      <li><a href="comm_06.html">SEDEC <span class="badge">8</span></a></li>--}}

                      <li role="separator" class="divider"></li>
                      <li><a href="commissions.html">View all Commissions</a></li>
                    </ul>
                  </li>

                  {{!-- Timeline --}}
                  <li class="dropdown">
                    <a href="timeline.html">
                      <table align="center">
                        <tr>
                          <td>
                            <span class="badge">
                                <i class="fa fa-clock-o"></i>
                            </span>
                          </td>
                        </tr>
                      </table>
                      Timeline
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
</div>
  
</script>